* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: url('rhone.jpg') no-repeat;
  background-size: cover;
}


.header {
  padding: 10px;
  text-align: center;

  font-family: cursive;
  background:rgba(255,255,255,0.3);
  /*background: linear-gradient(to right, #d2be41,#667db6,#667db6, #d2be41)*/
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
    border-radius: 10px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.picture {
  width: 100%;
  padding: 5px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius:20px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  justify-content: center;
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  background:linear-gradient(to left, #234588,#ebde4d);
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

.quote {
  font-style: italic;
}

#contact {

}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
  color: #ff4200;
}